body {
  padding: 10px 30px;
}

a {
  color: #00B7FF;
}

.sidebar-nav.fixed {
    position: fixed;
    top: 0;
    height: 90%;
    overflow-y: auto;
}

.drop {
    font-weight: bold;
    padding: 30px;
    text-align: center;
    border: 1px solid red;
    border-radius: 4px;
    margin-bottom: 10px;
    p:not(.help) {
        float: left;
        max-width: 170px;
        margin: 3px;
    }
}
.thread-link {
    margin-left: 4px;
}