body {
  padding: 10px 30px;
}
a {
  color: #00B7FF;
}
.sidebar-nav.fixed {
  position: fixed;
  top: 0;
  bottom: 10px;
  overflow-y: auto;
}
.posts .replies {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(216, 216, 216, 0.25);
}
.posts img {
  max-height: 400px;
  cursor: pointer;
}
.drop {
  font-weight: bold;
  padding: 30px;
  text-align: center;
  border: 1px solid red;
  border-radius: 4px;
  margin-bottom: 10px;
}
.drop p:not(.help) {
  float: left;
  max-width: 170px;
  margin: 3px;
}
.thread-link {
  margin-left: 4px;
}
