<div class="well">
  <h3>
    Create new board
  </h3>
  <form>
    <div class="control-group">
      <label>
        Name <input name="name" type="text" placeholder="Name" />
      </label>
    </div>
    <div class="control-group">
      <label>
        URL <input name="url" type="text" placeholder="URL" />
      </label>
    </div>
    <div class="control-group">
      <label>
        <input name="sticky" type="checkbox" /> Sticky
      </label>
    </div>

    <a class="btn btn-primary create-board" href="#">
      Add board
    </a>
  </form>
</div>