<div class="well">
    <form>
        <div class="control-group">
            <input type="hidden" name="board" value="<%=board%>" />
            <input type="hidden" name="base64" />
            <label>Otsikko
                <input type="text" name="title" />
            </label>
            <label>Valitse kuva
                <input type="file" />
            </label>
            <div class="drop span11">
                <p class="help">Drag &amp; Drop files here</p>
            </div>
        </div>
        <textarea name="content" class="span12"></textarea>
        <div class="clearfix"></div>
        <a class="btn btn-primary btn-large post-button" href="#"><i class="icon-white icon-comment"></i> Lähetä!!11</a>
    </form>
</div>
<hr>