<%
collection.each(function(model) {
    var span = 12;
%>

<div class="span11">
    <%
    if(model.get('image')) {
        span = 9;
    %>

    <div class="span3">
      <img src="<%=model.get('image')%>" />
    </div>

    <%
    }
    %>
    <div class="span<%=span%>">
        <hr>
        <p class="pull-left">
            <%=_.escape(model.get("title"))%>
        </p>
        <div class="pull-right">
            <a href="#<%=board%>/<%=model.get("_id")%>" class="thread-link"><%=moment(model.get("created")).calendar()%></a>
        </div>
        <i class="pull-right icon-time"></i>
        <div class="clearfix"></div>
        <hr>
        <div>
            <p>
                <%=_.escape(model.get("content")).replace(/\n/g, "<br />")%>
            </p>
        </div>
    </div>
</div>
<%
});
%>